<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Insert Test Data</title>
</head>
<body>
  <h1>Insert Test Data</h1>
  <form action="/addTestData" method="POST">
    <button type="submit">Add Test Data</button>
  </form>
  <br
  <h1>Delete Data</h1>
  <form action="/clearData" method="POST">
    <button type="submit">Delete Data</button>
  </form>
</body>
</html>
